/*-------------------------------------
 Font face
 ---------------------------------------*/
@font-face {
	font-family: "blacksword";
	src:         url("../fonts/blacksword/Blacksword.otf");
	font-weight: normal;
	font-style:  normal;
}

/*---------------------------------------*/
