.redux-container-multi_color ul.redux-multi-color {
  margin: 0;
  padding: 0;
}
.redux-container-multi_color ul.redux-multi-color li {
  border: 1px solid #eee;
  display: inline-block;
  padding: 15px;
  background-color: #fff;
}
.redux-container-multi_color ul.redux-multi-color li > span {
  display: block;
  font-weight: 600;
  font-size: 12px;
}
.redux-container-multi_color .redux-multi-color-add {
  clear: both;
  margin: 10px 0;
}
.redux-container-multi_color a.redux-multi-color-remove.deletion {
  color: #f00;
  padding: 2px 4px;
  margin-left: 5px;
}
.redux-container-multi_color a.redux-multi-color-remove.deletion:hover {
  background: red;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 782px) {
  .redux-container-multi_color input {
    clear: both;
  }
  .redux-container-multi_color .redux-multi-color-remove {
    margin: 0;
    float: right;
  }
}
.wp-customizer .redux-container-multi_color .button {
  float: right;
}
.wp-customizer .redux-container-multi_color .redux-multi-color-remove {
  float: right;
  margin-bottom: 5px;
}
.wp-customizer .redux-container-multi_color ul.redux-multi-color input {
  width: 100% !important;
}
